body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

#home {
    width: 100%;
    height: 100%;
    background-image: url("https://i.imgur.com/Aqvs02t.jpg");
    /*ISMAS: background-image: url("https://i.imgur.com/7T86Xl4.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    position: fixed;
  }

.title {
    font-family: 'Cinzel', serif;
    letter-spacing: 15px;
    color: white;
    width: 100%;
    height: 70px;
    line-height: 70px;

    text-align: center;
    /* margin: 5% auto; */
    margin: 3% auto 1% auto;
    background-color: black;
    /* padding: 50px auto; */
    border:none;
    outline: none;
  }

  @media screen and (max-width: 450px) {
    .title {
      height: 120px; 
      line-height: 60px;
    }
  }

#container {
    color: white;
    height: 400px;
    width : 900px;
    /* margin : 10px auto; */
    margin: 0 auto;
    position: relative;
}

#vamos {
  line-height: 32px;
  border: 2px solid white;
  width: 100px;
  height: 30px;
  /* position: absolute; */
  position: relative;
  padding: 20px;
  cursor: pointer;
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 5px;
  color: white;
  font-size: 28px;
  text-align: center;

  /* left: 300px;
  top: 170px; */
  /* top: 50%;
  left: 50%; */
  margin: 25% auto;
}

 /* HOW DO I GET THIS IN THE MIDDLE OF MOBILE SCREEN */
@media screen and (max-width: 450px) {
  #vamos {
    margin: auto; 
  }
}

#vamos:hover {
  font-size: 35px;
  border: 4px solid white;
}
  
.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  @media screen and (max-width: 450px) {
    .modal {
      margin: 20% auto; 
    }
  }
  
.modal-content {
    background-color: white; 
    background-image: url ("https://i.imgur.com/h9w9O3Ol.jpg?1");
    margin: 15% auto; 
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    /* animation-duration: 1s; */
  }

.modal-header h2, .modal-footer h3 {
    margin: 0;
    text-align: center;
    font-family: 'Cinzel', serif;
    letter-spacing: 15px;
    width: 100%;
    text-align: center;
    /* margin: 10% auto; */
  }

.modal-header{
    background: black;
    padding: 15px;
    color: white;
  }

  @media screen and (max-width: 450px) {
    .modal-header {
      font-size: 10px; 
      padding: 10px;
    }
  }

.modal-body {
    padding: 10px 20px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    line-height: 28px;
  } 

  ul {
    list-style-type: square;
  }

.modal-body h3 {
  letter-spacing: 9px;
  font-size: 24px;
}

@media screen and (max-width: 450px) {
  .modal-body h3 {
    font-size: 18px; 
  }
}

.modal-footer {
    background: black;
    padding: 10px;
    color: white;
    text-align: center;
  }

  @media screen and (max-width: 450px) {
    .modal-footer {
      font-size: 10px; 
      padding: 10px;
    }
  }
  
.closeBtn {
    color: white;
    float: right;
    font-size: 30px;
  }

  @media screen and (max-width: 450px) {
    .closeBtn {
      font-size: 20px; 
    }
  }
  
.closeBtn:hover,.closeBtn:focus {
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
  }
  
@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
  }

#image{
    position: absolute;
    width : 400px;
    height : 600px;
}

@media screen and (max-width: 450px) {
  #image { 
    /* width: 200px;
    height: 300px; */
    /* width: 100%;
    height: 100%; */
  }
}

#image img{
    width : 400px;
    height : 600px; 
} 

@media screen and (max-width: 450px) {
  #image img { 
    /* width: 100%;
    height: 100%; */
  }
}

#qBox {
  padding: 15px;
  height: 60px;
  background: black;
  margin: 20px 0px;
}

#question {
    z-index: 1;  
    width: 100%;
    height : 30px;

    /* padding: 15px; */
    font-family: 'Cinzel', serif;
    letter-spacing: 4px;
    font-size: 18px;
    text-align: left;
}

#answers {
    position: absolute;  
    width : 480px;
    right : 0;
    top : 140px;
    padding : 10px
}

.answer {
    background: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: 17px;
    letter-spacing: 2px;
    display: inline-block;
    width : 170px;
    text-align: center;
    cursor: pointer;
    padding : 10px 20px;
    margin: 10px;
}

.answer:hover {
    font-size: 19px;
    font-weight: bold;
}

#timer { 
  position: absolute;
  height : 100px;
  width : 200px;
  bottom : -60px;
  right: 110px;
  text-align: center;
}

#counter {
  font-family: 'Cinzel', serif;
  letter-spacing: 4px;
  font-size: 30px;
}

#btimerBar {
  width : 150px;
  height : 10px;
  background-color: white;
  margin-left : 25px;
}

#timerBar {
  height : 10px;
  background-color: black;
  margin-top : -10px;
  margin-left : 25px;
}

#progress {
  width : 400px;
  position: absolute;
  bottom : -70px;
  right : 0px;
  padding: 5px;
  text-align: right;
}

.prog {
  width : 15px;
  height : 15px;
  display: inline-block;
  margin-left : 10px;
  margin-right : 10px;
}

#scoreContainer {
  height: 350px;
  width : 875px;
  /* width: 100%; */
  margin : 0 auto;
  background-color: black;
  opacity: 0.9;
  z-index: auto; 

  padding: 20px;

  /* score message-text: */
  font-family: 'Cinzel', serif;
  letter-spacing: 20px;
  color: white;
  font-size: 50px;
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 3px;
  font-variant: small-caps;
  text-align: center;
}

/* score% text: */
#scoreContainer p {
  font-family: 'Cinzel', serif;
  letter-spacing: 5px;
  color: white;
  font-size: 40px;
  margin: 5% auto;
  text-align: center;
} 

/* thank you message... not working */
#sBox {
  color: red;
  display: block;
  /* z-index: 2; */  
  opacity: 0.9;
  z-index: auto; 
}